.user-info {
    position: relative;
    left: 25%;
    width: 60%;
    background-color: rgb(105, 105, 105);
    display: flex;
}

.avatar {
    width: 20%;
    height: auto;
}

.user-name {
    font-size: 20px;
    margin-left: 20px;
    height: 40px;
    padding-top: 10px;
}

.wall {
    background-color: rgb(105, 105, 105);
    position: relative;
    width: 60%;
    left: 25%;
    margin-top: 40px;
}

.post {
    width: 100% - 40px;
    background-color: rgb(105, 105, 105);
    height: auto;
    padding: 20px;
    border: solid black
}

.post-info {
    width: 100%;
    display: flex;
    margin: 10px 0px 10px 10px;
    left: 10px;
    top: 10px;
}

.post-info img {
    width: 80px;
    height: auto;
}

.post-content {
    font-size: 17px;
}

.post-content img {
    width: 80%;
    margin: 10%;
}

.post-interface {
    border-top: solid black 1px;
    padding-top: 10px;
    margin-top: 10px;
}

.post-interface button {
    background-color: rgb(105, 105, 105);
    border: none;
}
